/*This is the Start for mobile responsive design */

        @media only screen and (max-width: 600px) {   /*400 up max width */
            /*Start HomePage*/
            .container{
                height: 100vh;
                display: block;
                width: 100%;
            }
            .col-left{
                display:flex;
                height: 40dvh;
                width: 100dvw;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }
            .col-right{
                height: 40dvh;
                padding: 20px;
            }
            .col-right img{
                height: 150px;
                width: 150px;
                position: absolute;
                margin-top: -290px;
                margin-left: 240px;
                border-radius: 50%;
            }
            .text{
                font-size: 14px !important;
            }
            .home-h1{
                font-size: 30px;
                margin: 0px;
                position: relative;
            }
            .btn-home{
                font-size: 14px;
                padding: 10px 16px;
                margin-bottom: -100px;
            }
            .hello{
                margin-bottom: 0px;
            }
            .align{
                margin: 0px;
                margin-left: 20px;
            }
            /*End HomePage*/

            /*Start Aboutpage*/

            .about-section{
                height: 100dvh;
                width: 100dvw;
            }
            .mom-img{
                height: 150px;
                width: 150px;
                border-radius: 50%;
                margin: 0px;
                padding: 0px;
                margin-left: 20px;
                margin-top: 10px;
            }
            .col-left-aboutpage{
                background-color: #629584;
                margin: 0px;
                padding: 0px;
                padding: 10px;
                height: 40dvh;
            }
            .white{
                margin: 0px;
                padding: 0px;
                color: white;
                font-size: 16px;
                margin-top: 10px;
            }
            .about-h1{
                margin: 0px;
                padding: 0px;
                position: absolute;
                margin-top: -320px;
                margin-left: 200px;
                font-size: 30px;
            }
            .col-right-aboutpage{
                background-color: #387478;
                margin: 0px;
                padding: 0px;
                padding: 10px;
                height: 50dvh;
            }
            /*End Aboutpage*/

            /*Start Skill Section*/
            .skills-section{
                height: 180dvh;
            }
            .progresses{
                margin-left: 0;
                max-width: 340px;
                margin-top: 0;
            }
            .progress-container{
                padding: 60px;
            }
            .skills-h1{
                font-size: 30px;
                text-align: center;
                margin: 0px;
                padding: 0px;
                padding-top: 20px;
            }
            .content{
                font-size: 14px;
                margin: 0px;
                padding: 0px;
                padding: 20px;
            }
            .skill{
                width: 100px;
                height: 150px;
                flex-direction: column;
                justify-content: space-between;
                margin: 0px;
                padding: 0px;
                padding: 10px;
            }
            .skill i{
                font-size: 30px;
            }
            .skills{
                gap: 20px;
            }
            /*End Skill Section*/

            /*Start Hire Section*/
            .hire-section{
                height: 140dvh;

            }
            .reason{
                width: 100px;
                height: 150px;
                flex-direction: column;
                justify-content: space-between;
                margin: 0px;
                padding: 0px;
                padding: 10px; 
            }
            .reason i{
                font-size: 30px;
            }

            .testimonial{
                max-width: 900px !important; /* Adjust width as needed */
                padding: 0px;
                width: 80%;
            }
            .cathtext{
                font-size: 13px !important;
            }

            /*End Hire Section*/
            .navbar {
                right: -100px;
                gap: 10px;
                padding: 8px;
              }
            
              .navbar.show {
                right: 5px;
              }
            
              .navbar a {
                font-size: 18px;
                width: 40px;
                height: 40px;
                padding: 6px;
              }
            
              .navbar a::after {
                font-size: 10px;
                right: 45px;
                padding: 3px 5px;
              }
            
              .menu-toggle {
                padding: 20px;
              }
            
              .menu-toggle i {
                font-size: 18px;
              }

        }

        @media only screen and (max-width: 400px) {     /*400-300 lowest px*/

            .text{
                font-size: 10px !important;
            }
            .col-right img{
                margin-top: -240px;
                margin-left: 180px;
            }
            .about-h1{
                margin-top: -260px;
                margin-left: 180px;
            }
            .skills-section{
                height: 250dvh;
            }
            .hire-section{
                height: 180dvh;

            }
            .navbar {
                right: -90px;
                gap: 8px;
                padding: 6px;
              }
            
              .navbar.show {
                right: 5px;
              }
            
              .navbar a {
                font-size: 16px;
                width: 35px;
                height: 35px;
                padding: 5px;
              }
            
              .navbar a::after {
                font-size: 9px;
                right: 40px;
                padding: 2px 4px;
              }
            
              .menu-toggle {
                padding: 18px;
              }
            
              .menu-toggle i {
                font-size: 16px;
              }
        }

/*This is the End for mobile responsive design */


@media only screen and (min-width: 1000px) and (max-width: 1800px) and (max-height: 900px) { 
    .col-left-aboutpage {
        display: block;
    }
    .about-h1 {
        font-size: 50px;
    }
    .textsize {
        font-size: 21px;
    }
    .col-right img {
        width: 100%;
        height: 600px !important;     
        display: block;   
        object-fit: cover; 
    }
    .textright {
        font-size: 15px !important;
    }
    .progresses {
        margin-left: 0;
        max-width: 600px;
        margin-top: -80px;
    }
    .progress-container {
        padding: 60px;
    }
    .skill {
        width: 100px;
        height: 150px;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        padding: 10px;
    }
    .skill i {
        font-size: 30px;
    }
    .skills {
        gap: 20px;
    }
    .skills-h1 {
        font-size: 30px;
        text-align: center;
        padding-top: 20px;
    }
    .content {
        font-size: 14px;
        padding: 20px;
    }
    .mom-img {
        height: 500px !important;
        width: 300px;
    }
    .about-h1 {
        font-size: 50px;
    }
    .textsize {
        font-size: 20px;
    }
    .reason{
        width: 200px;
        height: 200px;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px;
        padding: 0px;
        padding: 10px; 
    }
    .reason i{
        font-size: 30px;
    }

}

@media only screen and (min-width: 1000px) and (max-width: 1800px) and (max-height: 1200px) {
    .col-left-aboutpage {
        display: block;
    }
    .about-h1 {
        font-size: 50px;
    }
    .textsize {
        font-size: 21px;
    }
    .col-right img {
        max-width: 100%;  
        height: 550px;     
        display: block;   
        object-fit: cover; 
    }
    .textright {
        font-size: 25px;
    }
    .progresses {
        margin-left: 0;
        max-width: 1000px;
        margin-top: -30px;
        margin-left: 200px;
    }
    .progress-container {
        padding: 60px;
    }
    .skill {
        width: 200px;
        height: 200px;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        padding: 10px;
    }
    .skill i {
        font-size: 30px;
    }
    .skills {
        gap: 20px;
    }
    .skills-h1 {
        font-size: 70px;
        text-align: center;
        padding-top: 20px;
    }
    .content {
        font-size: 20px;
        padding: 20px;
    }
    .mom-img {
        height: 800px;
        width: 800px;
    }
    .about-h1 {
        font-size: 50px;
    }
    .textsize {
        font-size: 23px;
    }
    .black{
        font-size: 15px !important;
    }

 }




  

  